@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400&family=Josefin+Slab:wght@200&display=swap');
:root {
    --color-background: #212126;
    --color-accent: #c8c9b8;
    --color-font-default: #c0cbd6;
    --color-font-acent: #383c33;
    --font-default: 'Josefin Slab', serif;
}

* {
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    width: 100%;
    height: 50pt;
    /* background-color: var(--color-accent); */
    font-family: var(--font-default);
    font-size: 16pt;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    align-self: center;
}

.header-logo a {
    color: var(--color-font-default);
    padding: 16pt;
    font-weight: bolder;
    text-decoration: none;
}

.header-logo a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--color-font-default);
    transition: .3s;
}

.header-logo a:hover::before {
    width: 100;
}

.header-navbar {
    align-self: center;
}

.header-navbar a {
    position: relative;
    text-decoration: none;
    margin-right: 40pt;
    color: var(--color-font-default);
}

.header-navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--color-font-default);
    transition: .3s;
}

.header-navbar a:hover::before {
    width: 100%;
}

/* Body */
body {
    display: flexbox;
    padding: auto;
    justify-content: center;
    background-color: var(--color-background);
}

.center-text {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    font-family: var(font-default);
    font-size: 128pt;
    color: var(--color-font-default);
} 